#title {
  background-color: #f1092e;
  color: #fff;
}
body {
   	   background: #fa8e47;
	   color: #fff;
   }
.navbar{
 background: #111111;
}
.nav-link , .navbar-brand{
 color: #068cfd;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{

 color: #131313;
}
.navbar-collapse{
 color: #0c0c0c;
 justify-content: flex-end;
}
.navbar-toggler{
  background: #0c0c0c !important;
}
.d-flex{
    color: #068cfd;
}

  footer{

      position: flex;
      margin-top: 100px;
      bottom: 0;
      left: 0;
      right: 0;
      background: #111;
      height: auto;
      width: 100vw;

      padding-top: 40px;
      color: #fff;
  }
  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  .footer-content h3{
      font-size: 2.1rem;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 3rem;
  }
  .footer-content p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
      color: #cacdd2;
  }

  .footer-bottom{
      background: #070404;
      width: 100vw;
      padding: 20px;
  padding-bottom: 40px;
      text-align: center;
  }
  .footer-bottom p{
  float: left;
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }
  .footer-bottom p a{
    color: #0088fa;
    font-size: 16px;
    text-decoration: none;
  }
  .footer-bottom span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
  }
  .footer-menu{
    float: right;

  }
  .footer-menu ul{
    display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
    color: #078af6;
    text-decoration: none;
  }
  .footer-menu ul li a:hover{
    color: #0d0e0e;
  }
.assor{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.assors{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
